// FONT FAMILY
$font-primary : 'Fraunces', serif;
$font-secondary : 'Montserrat', sans-serif;

*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	font-size: 1rem;
	font-weight: normal;
}

body{
	background-color: #F2EBE3;
}

main{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.container_card{
		width: 90%;
		max-width: 400px;
		border-radius: 5px;
		overflow: hidden;

		@media only screen and (min-width: 768px){
      width: 600px;
      max-width: none;
      display: flex;
    }

		.container_image{
			width: 100%;
			height: 250px;

			@media only screen and (min-width: 768px){
	    	height: 100%;
	    	width: 50%;
	    }

			.image_xl{
				display: none;
			}

			img{
				width: 100%;
				height: 100%;
			}

			@media only screen and (min-width: 768px){
	      .image_sm{
	      	display: none;
	      }

	      .image_xl{
	      	display: block;
	      }
	    }
		}

		.container_details{
			background-color: #FFF;
			padding: 1.5rem;

			@media only screen and (min-width: 768px){
	      width: 50%;
	      display: flex;
	      flex-direction: column;
	      justify-content: space-evenly;
	    }

			h2{
				font-family: $font-secondary;
				letter-spacing: 3px;
				color: #6C7289;
				text-transform: uppercase;
				font-size: .8rem;
				padding: .5rem 0;
				font-weight: 500;
			}

			h1{
				font-weight: 700;
				font-family: $font-primary;
				font-size: 2rem;
				color: #1C232B;
				padding: .5rem 0;
			}

			p{
				font-family: $font-secondary;
				color: #6C7289;
				font-weight: 500;
				font-size: 14px;
				padding: .5rem 0;
			}

			.prices{
				display: flex;
				align-items: center;

				h3{
					color: #3C8067;
					font-weight: 700;
					font-size: 2rem;
					font-family: $font-primary;
					margin-right: 1rem;
					padding: 1rem 0;
				}

				small{
					text-decoration: line-through;
					color: #6C7289;
					font-family: $font-secondary;
					font-weight: 500;
				}
			}

			.button{
				// width: 90%;

				button{
					width: 100%;
					background-color: #3C8067;
					color: #FFF;
					border: none;
					font-family: $font-secondary;
					font-weight: 500;
					border-radius: 5px;
					padding: .75rem;
					display: flex;
					align-items: center;
					justify-content: center;

					svg{
						margin-right: .5rem;
					}
				}

				button:hover{
					background-color: #214538;
					cursor: pointer;
				}
			}
		}
	}
}